body {
    background: wheat top center no-repeat fixed;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

hr {
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #69604c;
    text-align: center;
}

li {
    display: inline;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20pt;
    display: inline-block;
}


li a:hover {
    background-color: #a09174;
}


#cikk {
    width: 1000px;
    float: left;
    text-align: justify;
    background-color: rgba(51, 51, 51, 0.8);
}


#bal {
    margin-left: 20px;
    margin-top: 20px;
    width: 450px;
    float: left;
}

#jobb {
    margin-right: 20px;
    margin-top: 20px;
    width: 450px;
    float: right;
}

#lablec {
    background-color: #333;
    width: 1000px;
    text-align: center;
    margin: auto;
    height: 60px;
    padding-top: 40px;
    clear: both;
}

#lablec a {
    text-align: center;
    font-size: 12pt;
    color: white;
}

#lablec a:hover{
    font-weight: bold;
    color: rgb(235, 182, 85);
}

#fejlec{
    width: 1000px;
    margin: auto;
    background-color: #a09174;
    text-align: center;
}

#tartalom{
    width: 1000px;
    margin: auto;
}

#kepek{
    width: 450px;
    border: 1px solid white;
}


.popup {
  margin: auto;
  width: 900px;
  height: auto;
  margin-top: 150px;
  position: relative;}

  .content {
    max-height: 600px;
    overflow: auto;
  }
  p {
    margin: 0 0 1em;}
    p:last-child {
      margin: 0;
    }


#kepek2{
  width: 800px;
  height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    &.light {
      background: rgba(0, 0, 0, 0.5);
    }
      .cancel {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: default;
      }
        &:target {
        visibility: visible;
        opacity: 1;
      }

}
.close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
